/*

https://starlight.astro.build/guides/css-and-tailwind/#color-theme-editor

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #f0bb78ff;
	--sl-color-accent: #f5ecd5;
	--sl-color-accent-high: #626f47ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeedf1;
	--sl-color-gray-2: #c9c7cc;
	--sl-color-gray-3: #a4a2ab;
	--sl-color-gray-4: #59575f;
	--sl-color-gray-5: #39373e;
	--sl-color-gray-6: #27262c;
	--sl-color-black: #18181b;
	--sl-content-width: 70rem;
	--sl-breakpoint-lg: 100rem;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d3a569d4;
	--sl-color-accent: #626f47ff;
	--sl-color-accent-high: #A4B465;
	--sl-color-white: #18181b;
	--sl-color-gray-1: #27262c;
	--sl-color-gray-2: #39373e;
	--sl-color-gray-3: #59575f;
	--sl-color-gray-4: #8c8a93;
	--sl-color-gray-5: #c2c1c6;
	--sl-color-gray-6: #eeedf1;
	--sl-color-gray-7: #f6f6f8;
	--sl-color-black: #ffffff;
	--sl-content-width: 70rem;
	--sl-breakpoint-lg: 100rem;
}
