---
import yaml from 'yaml';
import fs from 'node:fs';

// Define props
const { group, description, example } = Astro.props;
const contents = fs.readFileSync(`src/assets/macros/actions/${group}.yaml`, 'utf8');
// Parse the YAML content
const data = yaml.parse(contents) as any;

interface Props {
  group: string;
  description: string;
  example ?: string;
}
---

{data.actions.map(action=>{
  return Object.entries(action).map(([name, props])=>{
    return (
        <div>
          <h2>%{name}</h2>
          <div>{description}</div>
          {example && (
            <div>
              <h3>Example</h3>
              <pre>{example}</pre>
            </div>
          )}
      </div>
    )
  })
})}
